* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-image: url(../premium_photo-1661877737564-3dfd7282efcb.avif);
   background-repeat: no-repeat;
   background-size: cover;
   font-family: Arial, sans-serif;
   color: white;
}

.container {
   text-align: center;
   padding: 50px;
   
}

.nav ul {
   display: flex;
   justify-content: center;
   gap: 80px;  
   margin-top: 70px;
}

.nav ul li {
   list-style: none;
}

.nav ul li a {
   text-decoration: none;
   color: white;
   font-size: 18px;
}

.nav ul li a:hover {
   color: red;
}

h1 {
   font-size: 36px;
   margin: 20px 0;
}

h2 {
   font-size: 24px;
}
.image{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   
}
.div{
   position:  absolute;
   left: 10px;
   display: flex;
   gap: 20px;
}
.zeee{
   font-size: 30px;
}
.btn{
      width: 160px !important;
   height: 40px !important;
   background-color: blue;
   /* border-radius: 20%; */
 
}
.btn a{
  
 color: white;

   text-decoration-line: none
}
a{
   
}




body {
   background-color: #121212;
   color: white;
}

.about {
   padding: 50px;
}

.row {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 30px;
}

.card {
   background-color: rgba(255, 255, 255, 0.1);
   border: 1px solid rgba(255, 255, 255, 0.2);
   border-radius: 10px;
   margin: 10px;
   padding: 20px;
   width: 300px;
   text-align: center;
}